content {
    display: block;
    padding: 50px 50px 50px 0;
}

.create_button {
    display: inline-block;
    padding: 10px 30px;
    border: none;
    border-radius: 4px;
    font-size: 150%;
    box-sizing: border-box;
    cursor: pointer;  
    text-decoration: none;
    background-color: #A4AC86;
    color: #283618; 
}

.create_button:hover {
    color: #A4AC86;
    background-color: #283618;
}

.create_button:active {
    background-color: #606C38;
}

ul {
    padding: 0;
}

li {
    display: block;
    width: 100%;
    height: 200px;
    background-color: #FFD991;
    margin-top: 40px;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
}

a {
    text-decoration: none;
    display: block;
}

.note_time {
    display: block;
    color: #BC6C25;
    padding-bottom: 20px;
}

.note-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 80%;
}

.note-content_text {
    height: 160px;
    width: 100%;
    margin-right: 20px;
    box-sizing: border-box;
    border: 3px dashed #BC6C25;
    background-color: #FFD991;
    
}

.note-content_image {
    display: block;
    box-sizing: border-box;
    height: 160px;
    width: 160px;
    border: 3px dashed #BC6C25;
    background-color: #FFD991;
}